.aboutPage {
  margin-top: 50px;
  display: flex;
  background-color: #faf9f6;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.vision {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  width: 100%;

  height: 350px;
}
.card-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.postCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0;
  width: 70%;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.postCard h2 {
  font-size: xx-large;
}

.postCard:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.postCard h2 {
  margin-bottom: 15px;
}

.postCard div {
  line-height: 1.6;
}

@media screen and (max-width: 768px) {
  .aboutPage {
    flex-direction: column;
    align-content: center;
    padding: 10px;
  }

  .vision {
    width: 100vw;
    height: auto;
  }

  .postCard {
    width: 90%;
    height: fit-content;
    margin: 10px 0;
  }
}
