.contactContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  padding: 20px;
}

.formContainer,
.mapContainer {
  position: relative;

  margin: 10px;
}
