.homeContainer {
  position: fixed;
  width: 100vw;
  height: calc(100vh + 94px);
  overflow: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.backgroundVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
  margin-bottom: 100px;
}

.slogan {
  background-color: rgba(0, 0, 0, 0.6);
  color: whitesmoke;
  width: 50vw;
  height: auto;
  font-size: 50px;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
}

.offerButton {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: whitesmoke;
  text-align: center;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.offerButton:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  .slogan {
    height: auto;
    width: auto;
    font-size: 40px;
    padding: 5px;
  }

  .offerButton {
    padding: 15px 30px;
  }

  .content {
    padding: 10px;
  }
}
