.offerContainer {
  background-image: url("../../../public/offer-banner.png");
  background-position: center;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding-bottom: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: auto;
  padding: 20px;
  margin-top: 200px;

  background-color: #00000052;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.74);
  border-radius: 10px;
}

form textarea {
  height: 100px;
}
.offerH1 {
  display: flex;
  justify-content: center;
}
div {
  padding-bottom: 0px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.1em;
  color: white;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 0.9em;
}

button {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  font-size: 1em;
}

button:hover {
  background-color: darkblue;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

/* Mobilanpassning */
@media (max-width: 768px) {
  .offerContainer {
    height: 100vh; /* Gör att containern anpassar sig efter innehållet istället för att ta upp hela skärmhöjden */
    padding-bottom: 20px; /* Lägg till lite utrymme i botten */
  }

  form {
    width: 80vw; /* Öka bredden på formuläret för att bättre utnyttja den tillgängliga skärmbredden */
    padding: 10px; /* Minska padding för att spara utrymme */
  }

  form label,
  input,
  textarea,
  button {
    font-size: 0.8em; /* Minska fontstorleken för att passa mindre skärmar */
  }
}
